{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="content">
  <div class="mission">
    <img src="" />
    <p class="red">"Una sonrisa significa mucho. Enriquece a quien la recibe; sin empobrecer
      a quien la ofrece. Dura un segundo pero su recuerdo, a veces, nunca se borra."</p>
  </div>
  
  <div class="letter">
    <p>Soy de la ciudad de Concepcion del Uruguay - Entre Ríos (Argentina), una comunidad de unos 80.000 habitantes
      que esta siendo invadida por una serie de delitos que han hecho que la gente se movilice en busca de justicia.</p>
    
    <p>Pero también esta siendo azotada por la paranoia colectiva generada por la invasión masiva de los medios de comunicación
      manejada por los centros de poder de este lugar que está haciendo que la gente viva con miedo...injusticia, racismo,
      ampliación de la fuerza policial, instalación de cámaras de “seguridad” en la vía pública, violencia, separación de clases;
      son sólo algunas de las consecuencias que esta situación está generando en mi tierra.</p>
    
    <p>Creo que los cambios comienzan de adentro hacia afuera, que si sonreímos en nuestro interior podemos proyectar
      esa energía hacia los demás y contagiarla. Ando por la ciudades que visito haciendo estos *esténciles justamente para eso, 
      contagiar sonrisas en la gente. Es un mensaje simple, una reacción espontánea, un “click” en tu cabeza...</p>
    
    <p>Es poco lo que pido, pero mucho lo que busco...</p>
  </div>
  
  <div>
    <p>Gracias por pasar :)</p>
    <img src="{{ STATIC_URL }}images/nes.png" />
  </div>

  <div class="index-notes">
    <ul>
      <li>* Las intervenciones NO están hechas en viviendas NI comercios</li>
      <li>* El Arte Callejero NO es vandalismo</li>
    </ul>
  </div>

</div>
{% endblock %}
