body
{
    background-image: url('../images/banner_right.png');
    background-color: #404042;
    background-repeat: no-repeat;
    background-position: right top;
    font-size: 16pt;
    font-family: 'Port Lligat Sans', sans-serif;
    /* font-weight: bold; */
    color: #babcbe;
}

.top-menu
{
    margin-top: 50px;
    list-style-type: none;
}

.top-menu ul, .top-menu li
{
    display: inline;
}

.top-menu li
{
    margin-left: 30px;
    margin-right: 30px;
}

ul.top-menu li a.selected
{
    /* The red color is not shown */
    color: #c42a1d;
}

.top-menu li a
{
    text-decoration: none;
    color: #babcbe;
}

.places
{
    list-style-type: none;
    margin-top: 50px;
    margin-left: 30px;
    width: 900px;
}

.places ul, .places li
{
    display: inline;
}

.smile {
    margin-top: 50px;
    margin-left: 70px;

}

.red
{
    background-image: url('../images/stencil.png');
    background-repeat: no-repeat;
    background-position: left top;
    color: #c42a1d;
    font-size: 13.5pt;
    height: 100px;
    padding-left: 90px;
    padding-top: 55px;
    text-indent: 0 !important;
    font-weight: bold;
}

div.content
{
   max-width: 800px;
   margin-left: 70px;
   margin-top: 50px;
   font-size: 13pt;
   text-indent: 25px;
}

.index-notes ul
{
    list-style-type: none;
}

.sign
{
    margin-top: 100px;
    text-align: right;
}